<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="mystyle.css" />
  </head>
  <div class="topnav">
    <a href="#home">HomesForBears</a>
    <a href="#rate">Rate Your Landlord</a>
    <a href="#find">Find a Review</a>
    <a href="#about">About</a>
    <input type="text" placeholder="Search by Landlord or Address" />
  </div>




  <div class="application">
    <form action="rate2.html">
      <label for="year">Please Select a Year</label>

      <select name="year" id="year">
        <option value="2021-2022">2021-2022</option>
        <option value="2022-2023">2022-2023</option>
      </select>

      <label for="fname">First name:</label><br />
      <input type="text" id="fname" name="fname" /><br />

      <label for="lname">Last name:</label><br />
      <input type="text" id="lname" name="lname" /><br /><br />

      <input type="submit" value="Submit"/>
    </form>
  </div>


  
</html>
